
<h1>Welcome to Quoter!</h1>

<h3>A messaging app for Quotes of the Day</h3>


<div class="container" >
  <p>Get an account!</p>
    <%= link_to 'Register', new_user_path, method: :get, id: 'registerLink'%>
  </div>

<div class="container">
  <p>Already have an account?</p>
    <%= link_to 'Login', login_path, method: :get, id: 'loginLink' %>
</div>